@{
    ViewData["Title"] = "Online Library Manager";
}

    <div class="container">
        <h1 class="display-3 text-muted p-2 mb-2">@ViewData["Title"]</h1>

        <div class="card-group">

            <div class="card">
                <img class="card-img-top" src="~/img/card2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title font-weight-light">Library Catalog</h2>
                    <p class="card-text">View and manage library assets.</p>
                </div>                
                <div class="card-footer">
                    <a asp-controller="Catalog" asp-action="Index"><div class="btn btn-secondary" asp-controller="Catalog" asp-action="Index">Go to Catalog</div></a>
</div>
            </div>

            <div class="card">
                <img class="card-img-top" src="~/img/card2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title font-weight-light">Patrons</h2>
                    <p class="card-text">View and manage library patron data.</p>
                </div>
                <div class="card-footer">
                    <a asp-controller="Patron" asp-action="Index"><div class="btn btn-secondary"> Go to Patrons</div></a>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="~/img/card2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title font-weight-light">Branches</h2>
                    <p class="card-text">View and manage library branches.</p>
                </div>                
                <div class="card-footer">
                    <a asp-controller="Branch" asp-action="Index"><div class="btn btn-secondary" asp-controller="Branch" asp-action="Index"> Go to Branches</div></a>
                </div> 
            </div>

        </div>
    </div>